@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;600&family=Montserrat:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#juices,
#smoothies,
#shots,
#vitawater,
#cleanse,
#sappenkuur {
  scroll-margin-top: 120px;
}


@font-face {
  font-family: "Muli";
  src: url("./assets/fonts/Muli-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Muli";
  src: url("./assets/fonts/Muli-Italic.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Original Surfer";
  src: url("./assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: 'Muli', sans-serif;
}

.button-text,
.body-text {
  font-size: 0.9rem;
}

.menu-text {
  color: whitesmoke;
  font-size: 0.84rem;
}

.nav-text {
  color: rgb(104, 98, 98);
  font-family: "Original Surfer";
  letter-spacing: 1px;
}

.footer-text {
  color: #e5e7eb;
  font-family: "Original Surfer";
  letter-spacing: 1px;
  font-size: 0.85rem;
}

.button-text {
  color: white;
}

.body-text {
  color: rgb(134, 127, 127);
}

h1,
h2,
h3 {
  font-family: 'Original Surfer', serif;
  font-weight: 800;
  color: rgb(104, 98, 98);
  letter-spacing: 1px;
}

h1,
h2 {
  font-size: 1.6rem;
}

.hamburgerText {
  font-family: 'Original Surfer', serif;
  color: rgb(134, 127, 127);
  font-size: 1rem;
  /* color: #026E73; */
}

.bestSeller {
  font-size: 2rem;
  font-family: 'Muli', serif;
  font-weight: 900;
  fill: #ffc331;
  text-shadow: rgb(70, 66, 66) 1px 1px;
}

.bestSellerPrice {
  font-family: 'Muli', serif;
  font-size: 1.6rem;
  color: #80CC28;
  font-weight: bolder;
}

.exceptionText {
  font-family: 'Dancing Script', serif;
  font-size: 1.2rem;
}

.exceptionTextExtra {
  font-family: 'Dancing Script', serif;
  font-size: 2.2rem;
}

.categoryText {
  font-family: 'Muli', serif;
  color: rgb(134, 127, 127);
  font-size: 1.1rem;
  text-transform: none;
  letter-spacing: 1px;
}

@media (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  .body-text {
    font-size: 0.94rem;
  }

  .bestSeller {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {

  .nav-text,
  .button-text,
  .body-text {
    font-size: 1rem;
    /* text-base */
  }

  .exceptionText {
    font-size: 1.6rem;
  }

  h1, h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .menu-text {
    font-size: 1rem;
  }

  .bestSeller {
    font-size: 2.6rem;
  }
}

@media (min-width: 1280px) {
  h1, h2 {
    font-size: 2.8rem;
  }

    .bestSeller {
    font-size: 2.2rem;
  }
}

@media (min-width: 1536px) {
  .menu-text {
    font-size: 0.86rem;
  }
}