@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;600&family=Montserrat:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Original Surfer";
  src: url("./assets/fonts/OriginalSurfer-Regular.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("./assets/fonts/Muli-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Muli";
  src: url("./assets/fonts/Muli-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Dancing Script";
  src: url("./assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Original Surfer";
  src: url("./assets/fonts/OriginalSurfer-Regular.ttf") format("truetype");
}

body {
  font-family: 'Muli', sans-serif;
}

.nav-text,
.button-text,
.body-text {
  font-size: 0.84rem;
}

.menu-text {
  color: rgb(134, 127, 127);
  font-size: 0.74rem;
}

.nav-text {
  color: #02888d;
}

.button-text {
  color: white;
}

.body-text {
  color: rgb(134, 127, 127);
}

.body-text.footer {
  color: #e5e7eb;
}

h1,
h2,
h3 {
  font-family: 'Original Surfer', serif;
  font-weight:800;
  color: #02888d;
  letter-spacing: 1px;
}

h1 {
  font-size: 1.6rem;
}

/* h3 {
  font-size: 1.2rem;
  font-family: 'Amsterdam', serif;
} */

.bestSeller {
  font-size: 2rem;
  font-family: 'Muli', serif;
  font-weight:900;
  fill: #ffc331;
  text-shadow: rgb(70, 66, 66) 1px 1px;
}

.exceptionText {
    font-family: 'Dancing Script', serif;
    font-size: 1.2rem;
}

.categoryText {
  font-family: 'Muli', serif;
  color: rgb(134, 127, 127);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}

@media (min-width: 576px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  .nav-text,
  .button-text,
  .body-text,
  .exceptionText {
    font-size: 0.9rem;
    /* text-base */
  }

  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .menu-text {
    font-size: 0.84rem;
  }
}

@media (min-width: 1280px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 1536px) {
   .menu-text {
    font-size: 0.86rem;
  }
}