@import url('https://fonts.googleapis.com/css2?family=Atma:wght@400;600&family=Montserrat:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
} */

body {
  font-family: 'Poppins', sans-serif;
}

/* h1, h2, h3 {
  font-family: 'Playfair Display', serif;
} */